body {
    width: 200px;
    height: auto;
    color: white;
    background-color: black;
}
.container {
    border: 5px solid gray;
    border-radius: 3px;
    text-align: center;
}
.indiv {
    margin: 10px;
}
#linkedButton {
    width: auto;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    margin: 3px;
}
#linkedButton:hover {
    box-shadow: 3px 5px 10px rgba(255, 255, 0, 0.596);
}



